main {
    background-color: #F8F6F4;
    padding: 20px;
}

.container {
    width: 60%;
    margin: auto;
    text-align: justify;
}


.container h2 {
    text-align: center;
}

.tile {
    padding: 20px;
}

.tile p {
    padding: 10px 50px;
}

.tile__img {
    height: 300px;
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.tile__img img {
    object-fit: cover;
}