main {
    background-color: #F8F6F4;
}

.container_order {
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
}

.container_order > h2 {
    text-align: center;
}

.search_cont {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.search_cont > form > label {
    padding: 20px;
}

.add_icon {
    width: 15px;
    height: 15px;
}

.add_icon:hover {
    cursor: pointer;
}

.basket_row, .price_row, .search_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data_row {
    display: flex;
    width: 300px;
    margin: auto;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
}



.button-68 {
    margin: auto;
    margin-top:50px;

    display: flex;
   appearance: none;
   backface-visibility: hidden;
   background-color: #27ae60;
   border-radius: 8px;
   border-style: none;
   box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
   font-size: 16px;
   font-weight: 600;
   letter-spacing: normal;
   line-height: 1.5;
   outline: none;
   overflow: hidden;
   padding: 13px 20px;
   position: relative;
   text-align: center;
   text-decoration: none;
   transform: translate3d(0, 0, 0);
   transition: all .3s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: top;
   white-space: nowrap;
}

.button-68:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.button-68:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.button-68:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
